<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Share
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Share</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    @if (downloading) {
    <ion-progress-bar [value]="progress"></ion-progress-bar>
    }
    <ion-button [disabled]="downloading" (click)="downloadAndShare()">Download & Share</ion-button> <br />
    <ion-button (click)="getAndShare()">Get & Share</ion-button> <br />
    <ion-button [disabled]="downloading" (click)="downloadAndOpen()">Download & Open</ion-button> <br />
  </div>
</ion-content>